
a {
    color: #F067DB;
    font-weight: bold;
    text-decoration: none;
}

#header {
    
}

#myFlash {
display: block;
	margin: 0 auto;
}
/*content*/
div#content {
    min-height:500px;
    background: url('../imagenes/ligamania-fondo.jpg') center top no-repeat;
    background-size: 100%;
    margin-top: 0px;    
}

#menu li {
    background: #333;
    margin-bottom: 5px;
    border-top: 2px solid grey;
    border-left: 2px solid grey;
    padding: 10px;
    text-align:center;
}

#menu li a {
    color: #F067DB;
    text-decoration: none;   
}

th {
    border: 2px solid white;
}